*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-purple-dark: #201449;
  --clr-purple: #664FA3;
  --clr-purple-light: #B565FF;
  --clr-purple-lighter: #e4dcf0;
  --clr-pink-light: #cb6ce6;
  --clr-gray-darkest: #111;
  --clr-gray-darker: #444;
  --clr-gray-dark: #696969;
  --clr-gray: #999999;
  --clr-gray-light: #cccccc;
  --clr-gray-lighter: #ececec;
  --clr-shadow-light: #CACACA;
  --clr-shadow-lighter: #EAEAEA;
  --font-bold: 600;
  --font-semibold: 500;
  --font-regular: 400;
  --font-light: 300;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: var(--font-light);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

section {
  padding: 3em 0em;
}

/* ------------------ Navbar ------------------ */
.navbar {
  padding: 1em 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar a {
  padding: 0.5em 1em;
  display: block;
  color: white;
  transition: 0.5s;
}
.navbar a:hover, .navbar a:focus {
  background-color: var(--clr-accent);
}

.btn {
  display: inline-block;
  padding: 1em 3em;
  border: 1px solid #fff;
  color: #fff;
  font-weight: var(--font-bold);
  font-size: 1.15rem;
  transition: background-color 250ms linear;
}
.btn:hover, .btn:focus {
  background-color: var(--clr-accent);
  border: 1px solid var(--clr-accent);
}

/* ------------------ Hero ------------------ */
.hero {
  --clr-accent: var(--clr-purple-dark);
  background: url(../assets/img/hero/hero_background_2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
}

.hero .hero-content {
  max-width: 35em;
  padding: 9em 1em;
  color: white;
}

.hero .hero-title {
  text-align: left;
  font-size: clamp(2rem, 5vw + 1rem, 3rem);
  font-weight: var(--font-bold);
  line-height: 1;
  text-transform: uppercase;
  --clr-accent: var(--clr-purple-dark);
}

/* ------------------ Sections ------------------ */
.bkg-light {
  background-color: #fafafa;
}

.bkg-color {
  background-color: var(--clr-purple-lighter);
}

.bkg-dark {
  background-color: var(--clr-purple-dark);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider {
  position: relative;
}
.slider .slide-track {
  animation: scroll 34s linear infinite;
  display: flex;
}
.slider img {
  box-shadow: 0 2em 4em -1.4em var(--clr-shadow-light);
  width: 250px;
}

/* ------------------ Utility Classes ------------------ */
.accent {
  color: var(--clr-accent);
}

.container {
  max-width: 60em;
  width: 85%;
  margin: 0 auto;
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.section-title {
  margin: 1em 0;
  text-align: center;
  font-size: clamp(2rem, 5vw + 1rem, 3rem);
  font-weight: var(--font-bold);
  line-height: 1;
  color: var(--clr-purple-dark);
  --clr-accent: var(--clr-purple);
}

.section-description {
  text-align: center;
  font-size: 1rem;
  color: var(--clr-purple-dark);
  margin-bottom: 5rem;
}

/* ------------------ CARDS ------------------ */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards__item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.33%;
  }
}

.card {
  background-color: white;
  border: 1px solid transparent;
  box-shadow: 0 2em 4em -1.4em var(--clr-shadow-light);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card:hover {
  border: 1px solid var(--clr-purple-light);
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}

.card__image--ai {
  background-image: url(../assets/img/services/icon_ai_2.png);
}

.card__image--de {
  background-image: url(../assets/img/services/icon_de_1.png);
}

.card__image--ds {
  background-image: url(../assets/img/services/icon_ds_2_edit.png);
}

.card__image--revenue {
  background-image: url(../assets/img/services/icon_ai_2.png);
}

.card__image--measure {
  background-image: url(../assets/img/services/icon_de_1.png);
}

.card__image--business {
  background-image: url(../assets/img/services/icon_ds_2_edit.png);
}

.card__title,
.card__subtitle {
  font-weight: var(--font-bold);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

/* ------------------ Footer  ------------------ */
.footer {
  padding: 1em 0;
  background-color: #000;
  color: #FFF;
  font-size: 1.2em;
  font-weight: var(--font-semibold);
}
.footer__redes-wrapper {
  max-width: 30em;
  width: 60%;
  margin: 45px auto;
  gap: 1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.footer__redes-wrapper li {
  transition: all ease 0.3s;
}
.footer__redes-wrapper li:hover {
  color: var(--clr-pink-light);
}
.footer__redes-wrapper a {
  padding: 0.5em 1em;
  display: block;
  text-transform: uppercase;
}
.footer__redes-wrapper i {
  margin-right: 0.5rem;
}/*# sourceMappingURL=main.css.map */