*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-purple-dark: #201449;
  --clr-purple: #664fa3;
  --clr-purple-light: #b565ff;
  --clr-purple-lighter: #e4dcf0;
  --clr-pink-light: #cb6ce6;
  --clr-gray-darkest: #111;
  --clr-gray-darker: #444;
  --clr-gray-dark: #696969;
  --clr-gray: #999999;
  --clr-gray-light: #cccccc;
  --clr-gray-lighter: #ececec;
  --clr-shadow-light: #cacaca;
  --clr-shadow-lighter: #eaeaea;
  --font-bold: 600;
  --font-semibold: 500;
  --font-regular: 400;
  --font-light: 300;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: var(--font-light);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: var(--font-semibold);
  transition: background-color 250ms linear;
}
a:hover, a:focus {
  background-color: var(--clr-accent);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

section {
  padding: 3em 0em;
}

/* ------------------ Navbar ------------------ */
.navbar {
  padding: 1em 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar a {
  padding: 0.5em 1em;
  display: block;
  color: white;
}

.btn {
  display: inline-block;
  padding: 1em 3em;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.15rem;
}

/* ------------------ Hero ------------------ */
.hero {
  --clr-accent: var(--clr-purple-dark);
  background: url(../assets/img/hero/hero_background_2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.hero .hero-content {
  max-width: 35em;
  padding: 9em 1em;
  color: white;
}

.hero .hero-title {
  text-align: left;
  font-size: clamp(2rem, 5vw + 1rem, 3rem);
  font-weight: var(--font-bold);
  line-height: 1;
  text-transform: uppercase;
}

/* ------------------ Sections ------------------ */
.bkg-light {
  background-color: #fafafa;
}

.bkg-color {
  background-color: var(--clr-purple-lighter);
}

.bkg-dark {
  background-color: var(--clr-purple-dark);
}

/* ------------------ Sections ------------------ */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * (180px + 8px * 2) * 10));
  }
}
.tools {
  padding: 2em 0;
  margin: 0 auto;
  width: 100%;
  max-width: 120em;
  display: flex;
  overflow: hidden;
  position: relative;
}
.tools .tools-slide {
  animation: slide 22s linear infinite;
  display: flex;
  white-space: nowrap;
}
.tools img {
  width: 180px;
  margin: 0 8px;
  border-radius: 0;
  box-shadow: 0 0.5em 1em 0 var(--clr-shadow-light);
}
.tools:before, .tools:after {
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
  content: "";
  z-index: 2;
}
.tools:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
.tools:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

/* ------------------ Utility Classes ------------------ */
.accent {
  color: var(--clr-accent);
}

.container {
  max-width: 60em;
  width: 85%;
  margin: 0 auto;
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.section-title {
  margin: 0.5em 0;
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(2rem, 5vw + 1rem, 3rem);
  font-weight: var(--font-bold);
  line-height: 1;
  color: var(--clr-purple-dark);
  --clr-accent: var(--clr-purple);
}

.section-description {
  text-align: center;
  font-size: 1rem;
  color: var(--clr-gray-darker);
  margin-bottom: 5rem;
}

/* ------------------ CARDS ------------------ */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards__item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.33%;
  }
}

.card {
  background-color: white;
  border: 1px solid transparent;
  box-shadow: 0 2em 4em -1.4em var(--clr-shadow-light);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card:hover {
  border: 1px solid var(--clr-purple-light);
}

.card__content {
  display: flex;
  padding: 1rem;
  flex: 1 1 auto;
  flex-direction: column;
}

.card__image {
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}

.card__image--ai {
  background-image: url(../assets/img/services/icon_ai_2.webp);
}

.card__image--de {
  background-image: url(../assets/img/services/icon_de_1.webp);
}

.card__image--ds {
  background-image: url(../assets/img/services/icon_ds_2_edit.webp);
}

.card__image--ctl {
  background-image: url(../assets/img/clients/client-ctl.webp);
}

.card__image--graphext {
  background-image: url(../assets/img/clients/client-graphext.webp);
}

.card__image--ns {
  background-image: url(../assets/img/clients/client-next_scenario.webp);
}

.card__title,
.card__subtitle {
  font-weight: var(--font-bold);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

/* ------------------ Footer  ------------------ */
.footer {
  padding: 1em;
  background-color: #111;
  color: white;
  text-align: center;
}
.footer .footer__redes {
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer .footer__redes li {
  margin: 0 15px;
}
.footer .footer__redes a {
  display: block;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */