---
layout: default
title: "Blog de Squadra Labs"
---

<div class="posts">
  <h1>Welcome to our blog</h1>

  <p>
    Here you will find some of our written resources about our Projects, Data, and IT. 
    For more, check our LinkedIn: 
    <a href="https://www.linkedin.com/company/squadra-labs" target="_blank">Squadra Labs LinkedIn</a>
  </p>

  <div class="post-grid">
    {% for post in site.posts %}
      <div class="post-card">
        <a href="{{ post.url }}">
          {% if post.image %}
            <img src="{{ post.image }}" alt="{{ post.title }}">
          {% else %}
            <img src="/assets/img/blog/default-image.jpg" alt="Default image">
          {% endif %}
          <div class="post-content">
            <h2>{{ post.title }}</h2>
            <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
            <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
