<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a href="./">
        <img
          src="{{ '/assets/img/sq/isologo-trim.webp' | absolute_url }}"
          width="50"
          alt="Squadra Labs"
        />
      </a>
    </div>

    <div class="navbar-menu" role="navigation">
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#benefits">Benefits</a></li>
        <li><a href="/success-cases.pdf" target="_blank">Cases</a></li>
      </ul>
    </div>
  </div>
</nav>
