/* Aseguramos que no se alteren los estilos base de Minima */
body, .navbar {
  font-family: inherit; /* Usar la fuente predeterminada de Minima */
}

/* ------------------ Navbar ------------------ */
.navbar {
  padding: 1em 0;
  margin: auto;
  left: 0;
  right: 0;
  position: relative; /* Cambiar position para no sobreponer el contenido */
  background-color: #333; /* Asegura que la navbar sea visible con fondo */
  z-index: 10; /* Para que la navbar esté sobre el contenido */
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-menu ul {
  display: flex;
  gap: 10px;
}
.navbar a {
  padding: 0.5em 1em;
  display: block;
  color: white; /* Asegurar que los links sean visibles */
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: underline;
}
