/* Estilos solo para la barra de navegación personalizada */

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand img {
  max-width: 40px;
  height: auto;
}

.navbar-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  margin: 0;
}

.navbar-menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.navbar-menu a:hover {
  text-decoration: underline;
}
