<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    
    <!-- Cargar los estilos de Minima -->
    {{ site.stylesheet }}

    <!-- Incluir Google Fonts para Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

    <!-- Agregar el nuevo CSS para el menú -->
    <link rel="stylesheet" href="{{ '/assets/css/custom-header.css' | relative_url }}">
  </head>
  <body>
    <!-- Incluir el nuevo header personalizado -->
    {% include header.html %}
    
    <!-- Contenido principal -->
    <main>
      {{ content }}
    </main>

  </body>
</html>
